<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Accordion - Semantic</title>

  <!--- Site CSS -->
  <link rel="stylesheet" type="text/css" href="../../dist/semantic.min.css">

  <!--- Component CSS -->

  <link rel="stylesheet" type="text/css" href="../../dist/components/accordion.css">
  <style>
  	.ui.accordion {
  		width: 800px;
  		margin:100px auto;
  	}
  	
  	.ui.accordion .item.activeWrap {
	  box-shadow: 0 4px 15px 0 rgba(86, 102, 139, 0.21);
	  transition: box-shadow 0.2s ease;
	}
	.ui.accordion .item:hover {
	  box-shadow: 0 4px 15px 0 rgba(86, 102, 139, 0.21);
	  transition: box-shadow 0.2s ease;
	}
  </style>
</head>

<body>

<div class="ui ">
  <div class="ui accordion">
  	<div class="item active_">
	  <div class="title active">
	    <i class="dropdown icon"></i>
	    What is a dog?
	  </div>
	  <div class="content active">
	    <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
	  </div>
	</div>
	<div class="item ">  
	  <div class="title">
	    <i class="dropdown icon"></i>
	    What kinds of dogs are there?
	  </div>
	  <div class="content">
	    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
	  </div>
	</div>
	<div class="item ">  
	  <div class="title">
	    <i class="dropdown icon"></i>
	    How do you acquire a dog?
	  </div>
	  <div class="content">
	    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
	    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
	  </div>
	</div>  
  </div>
</div>
<!--- Component JS -->
  <script src="../assets/library/jquery.min.js"></script>
  <script src="../../dist/semantic.min.js"></script>
  <script type="text/javascript" src="../../dist/components/accordion.js"></script>
  <script type="text/javascript">
  	$('.ui.accordion').accordion()
  </script>
</body>
</html>